# GEMINI_API_KEY: Clé API requise pour la reconnaissance et le contrôle intelligent d'état civil.
# Configurez cette variable avec votre clé API Gemini.
GEMINI_API_KEY="VOTRE_CLE_API_GEMINI"

# APP_URL: L'adresse URL de déploiement de l'application (e.g., http://localhost:3000)
# Utilisée pour les redirections, rappels d'API et appels de point de terminaison.
APP_URL="http://localhost:3000"
